bz2file==0.98
cycler==0.10.0
decorator==4.4.0
freeze==1.0.10
imageio==2.5.0
jedi==0.13.3
kiwisolver==1.0.1
matplotlib==3.0.3
networkx==2.2
nibabel==2.3.3
numpy==1.22.0
opencv-python==4.0.0.21
parso==0.3.4
Pillow==6.2.0
pydicom==1.2.2
pyparsing==2.3.1
python-dateutil==2.8.0
PyWavelets==1.0.2
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
SimpleITK==1.2.0
six==1.12.0
connected-components-3d==1.6.0
vtkplotter==2020.2.2
torchsummary==1.5.1